/*fonts*/
@font-face {

    font-family: BornAddict;
    src: url("../fonts/BornAddict.ttf") format("opentype");
}

@font-face {

    font-family: SkinnyJeans;
    src: url("../fonts/SkinnyJeans.ttf") format("opentype");
}

@font-face {

    font-family: DataSeventy;
    src: url("../fonts/ufonts.com_data-seventy-plain.ttf") format("opentype");
}
@font-face {

    font-family: SilkRemington;
    src: url("../fonts/SilkRemington-SBold.ttf") format("opentype");
}

/*css etiquetas*/
#title_menu 
{
	background-color: black;
	color: green;
	width:100%;
	height: 10%;
	position: absolute;
	font-size: 200%;
	text-align: center;
	top: 0px;
	left: 0px;
}

#about_title
{
	font-family: BornAddict;
	left:5%;
	position: relative;
	font-size: 150%;
}
#about_content
{
	font-family: SilkRemington;	
	left:5%;
	position: relative;
}
#lbl_welcome
{
	font-family: DataSeventy;	
	font-size: 150%;
}
#content
{
	position: absolute;
    top: 10%;
    background-color: floralwhite;
    left: 0px;
    width: 100%;
}

#table_img_text 
{
	
	position: relative;
	left:5%;
	width: 80%;
}
#img_kuky 
{	
	height: 70%;
	border: 2px;
    border-radius: 25px;

}

#table_art_proi
{
	height: 100%;	

}
.img_projects 
{

	height: 20%;
	border: 2px;
    border-radius: 25px;

}