/*fonts*/
@font-face {

    font-family: BornAddict;
    src: url("../fonts/BornAddict.ttf") format("opentype");
}

@font-face {

    font-family: SkinnyJeans;
    src: url("../fonts/SkinnyJeans.ttf") format("opentype");
}

@font-face {

    font-family: DataSeventy;
    src: url("../fonts/ufonts.com_data-seventy-plain.ttf") format("opentype");
}

/*css etiquetas*/
#title_menu 
{
	background-color: black;
	color: green;
	width:100%;
	height: 10%;
	position: absolute;
	font-size: 200%;
	text-align: center;
	top: 0px;
	left: 0px;
}

#about_title
{
	font-family: BornAddict;
}
#about_content
{
	font-family: SkinnyJeans;	
}
#lbl_welcome
{
	font-family: DataSeventy;	
}
#content
{
	position: absolute;
    top: 10%;
    background-color: floralwhite;
    left: 0px;
}